# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output

**/workspace/
**/Material do curso/workspace/

# dependencies
/node_modules
/.pnp
.pnp.js
**/.gradle
**/build
**/bin

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
subprojects.ser*