# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
**/Material do curso/workspace/

/Start By Capgemini/02_Trilha_Introdutoria_LOGICA/04_Logica_de_Programacao_e_Algoritmos_3/Material do curso/workspace/