@cor: blue;
@cor_cinza_claro: rgb(210,212,208);

body{
    background-color: @cor_cinza_claro;
}

h1{
    color: @cor;
    text-shadow: 2px 1px 1px #7a7b7c;
}

p{
    color: @cor;
    font-size: 23px;
}