$background: black;
$cor: blue;

@mixin cores(){
    color: $cor;
    background-color:$background;
    font-size: 20px;
    margin: 8%
}

body {
    @include cores;
}

h1 {
    @include cores;
}

h2 {
    @include cores;
}

p {
    @include cores;
}