html{
    color: rgba(0, 0, 255, 1);
    background-color: #ada6a6;
    background-image: url(https://th.bing.com/th/id/OIP.cAG6eSYR_88JbOlyuyiTlAHaIs?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
h1{
    color: #000000;
    background-color: cadetblue;
}
h2{
    background-color: rgb(181, 181, 224);
}