$cor :lightblue;
$cor2 :lightgrey ;
$background: black;

@mixin fundoP($color){
    background-color: $color;
}

body {
    @include fundoP($background) ;
    @if($background==black){
        color: $cor2;
    }@else{
        color: darkblue;
        background-color: lightskyblue;
    }
    color: $cor2;
    margin: (10%/2);
}

a {
    color:white;
    background-color: lime;
}

p{
    b{
        color: aquamarine;
    }
}

.sombra{
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
    color: $cor;
}

h1{
    color: $cor;
}