.box{
    box-sizing: content-box;
    width: 5rem;
    height: 5rem;
    display: block;
    color: white;
    font-size: 5rem;
    padding: 5px 2px 3px 5px;

}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.vermelho{
    background-color: red;
}