.box{
    box-sizing: content-box;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 5rem;
    border: 2px solid black;

}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.vermelho{
    background-color: red;
}