.box{
    box-sizing: content-box;
}
.azul{
    background-color: blue;
    width: 5rem;
    height: 5rem;
    display: block;
}
.verde{
    background-color: green;
    width: 5rem;
    height: 5rem;
    display: block;
}
.vermelho{
    background-color: red;
    width: 5rem;
    height: 5rem;
    display: block;
}